.container{
    width: 100%;
    font-family: Yu Gothic;
}

.main{
    width: fit-content;
    padding: 5%;
    float: left;
    display: flex;
    margin-top: 50px;
}

.users{
    width: 25%;
    height: 100%;
    transition: all .2s ease-in-out;
    padding: 10px;
}

.users:hover{
    transform: scale(1.1);
    z-index: 10;
}

.user-image{
    width: 100%;
    height: 100%;
}

.user-image img{
    width: 100%;
    height: 100%;
}

/* ----------- header ----------- */
header {
    overflow: hidden;
    background-color: dodgerblue;
    padding: 10px;
    width: 100%;
    position: fixed;
    margin-left: -9px;
    margin-bottom: 20px;
    top: 0px;
}

.header {
    margin-left: 10px;
    font-size: 25px;
    font-weight: bold;
    font-family: Yu Gothic;
    color: white;
}
header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    color: white;
    float: left;
    text-align: center;
    padding: 12px;
    line-height: 25px;
    border-radius: 4px;
}

header a:hover {
    background-color: #ddd;
    color: black;
}

header a.active {
    background-color: blue;
}

.header-right {
    float: right;
    margin-right: 12px;
}